.card-text {
    font-weight: 900;
  }
  
  .card-footer {
    height: 1.5rem;
  }
  
  #startBtn {
    display: block;
    padding-left: auto;
    padding-right: auto;
  }
  
  #intro-coding-img {
    height: 500px;
  }
  